<%- contentFor('body')%>
<div class="container d-flex h-100" style="min-height: 88vh;">
    <div class="justify-content-center align-self-center w-75 p-5 mx-auto bg-secondary rounded-3">
        <% if (locals.messages.error) { %>
            <h5 class="text-danger text-center">
                <%= locals.messages.error %>
            </h5>
        <% } %>
        <h2 class="text-light text-center">Laman Masuk</h2>
        <form method="post" action="/auth/signin">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" />
                <div id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" />
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>